@font-face {
    font-family: 'CoffeeSoda';
    src: url('fonts/CoffeeSoda.ttf') format('truetype');
}

@font-face {
    font-family: 'Cocogoose Light';
    src: url('fonts/CocogooseLight.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cocogoose Light', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER STYLING */
#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    color: white;
    background-color: rgb(65, 65, 209);
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

#page-title {
    font-family: 'CoffeeSoda', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 60px;
    align-self: flex-end;
}

.subhead {
    width: 180px;
}

#info-button {
    display: flex;
    align-items: flex-start;
}

#info-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visbility 0.3s ease;
    background-color: rgb(73, 122, 255);
    width: 650px;
    height: 170px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    padding: 50px;
    margin: 50px;
}

#info-popup.show {
    opacity: 1;
    visibility: visible;
}

ul {
    padding-left: 30px;
    padding-top: 7px;
    margin: 0px;
    line-height: 1.8;
}

/* GRID STYLING */
#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw; /* Adjust as needed */
    height: 100vw; /* Adjust as needed */
}

.grid-item {
    flex: 0 0 calc(100% / 16); /* 16 items per row */
    height: calc(100% / 16); /* 16 items per column */
    box-sizing: border-box;
    background-color: black;
    opacity: 0;
}

/* TOOLBAR STYLING */
#toolbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(65, 65, 209);
}

.tool {
    padding: 20px;
    border-radius: 15px;
    height: 80px;
    box-sizing: border-box;
}

.colorButton:hover, #clear:hover, #set-size:hover {
    filter: brightness(0.95);
}

#clear, #set-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
    justify-content: space-evenly;
    color: white;
    padding: 10px;
    width: 100px;
}

#clear {
    background-color: rgb(255, 0, 43);
}

#set-size {
    background-color: rgb(255, 128, 0);
}

.toolbar-left, .toolbar-right {
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 180px;
}

.toolbar-left {
    justify-content: space-between;
}

.toolbar-right {
    justify-content: flex-end;
}

/* COLOR SELECTOR STYLING */
#pen-color {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(193, 226, 255);
    width: 1000px;
}

#change-color {
    color: rgb(0, 105, 197);
}

.colorButton {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-sizing: border-box;
}

.selected {
    border: 3px solid rgb(45, 157, 255);
}

#black {
    background-color: rgb(0, 0, 0);
}

#black:hover {
    background-color: rgb(27, 27, 27);
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: rgb(255, 244, 34)
}

#green {
    background-color: green;
}

#blue {
    background-color: rgb(0, 63, 221);
}

#purple {
    background-color: rgb(82, 12, 156);
}

#pink {
    background-color: rgb(255, 92, 163);
}

#white {
    background-color: white;
}